apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: {{ .Service.Namespace }}
resources:
  - ../../base
labels:
  - pairs:
      attesta.dev/environment: staging
    includeSelectors: true
    includeTemplates: true
